

.navbar{
    background-color:rgb(243, 168, 139) ; 
}

.logo{
    height: 30px;
    
}

#carousel .carousel-item img {
    max-height: 300px;
    width: auto;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

.size-100 {
    height: 100px;
    width: 100%;
}
footer {
    background-color:rgb(243, 168, 139) ;
    height: 50px;
}

footer img {
    max-height: 50px;
    width: auto;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}



